@import url('/css/default/root.css');
@import url('/css/default/footer_admin_.css');
@import url('/css/default/navbar_admin.css');

.row {
    text-align: center;
    justify-content: space-around;
}

#titulo-principal {
    margin: 1.5rem;
    font-size: 1.5rem;
    font-family: var(--fontTitulo);
    font-optical-sizing: auto;
    font-weight: 100;
    font-weight: bold;
}

.button-row {
    text-align: center;
    justify-content: space-around;
}

#agregar {
    width: 16.125rem;
    background-color: var(--accent);
    border: 0;
    padding: .4rem;
    border-radius: .4rem;
    margin-bottom: 2rem;
    color: var(--background);
    font-size: var(--subtitles-size);
    font-weight: normal;
}

.img-p-card {
    display: none;
}

.main-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.col-md-4 {
    background-color: var(--primary);
    display: block;
    border-radius: 1rem;
}

table {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

thead {
    border-bottom: 1px solid #2E2E2E;
}

tr {
    width: 95%;
    padding: 0.5rem;
}

.textl {
    font-size: var(--subtitles-size);
    font-family: var(--content-font);
    text-align: left;
    width: 50%;
    padding-left: 2%;
    padding-top: 2%;
    font-weight: normal;
}

.textr {
    font-size: var(--subtitles-size);
    font-family: var(--content-font);
    text-align: right;
    width: 50%;
    padding-right: 2%;
    padding-top: 2%;
    font-weight: normal;
}

tfoot {
    display: flex;
    width: 200%;
}

h1 {
    font-size: 1.5rem;
    font-family: var(--titles-font-desk);
    font-weight: bold;
}

/*ICONOS*/
.pie-card {
    display: flex;
    justify-content: space-between;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 2.5rem,
        'GRAD' 0,
        'opsz' 24
}

/*Card*/
.open {
    background-color: transparent;
    margin: 0;
    border: 0;
}

.abrir {
    background-color: transparent;
    margin: 0;
    border: 0;
}

.delete {
    background-color: transparent;
    margin: 0;
    border: 0;
}

.edit {
    background-color: transparent;
    margin: 0;
    border: 0;
}

.mod-cont {
    display: flex;
    /*background-color: var(--background);*/
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.mod-contenedor {
    display: flex;
    /*background-color: var(--background);*/
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.mod {
    background-color: var(--primary);
    width: auto;
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.close {
    background-color: var(--accent);
    border: 0;
    padding: .4rem;
    border-radius: .4rem;
    color: var(--background);
    font-size: var(--subtitles-size);
}

.cerrar {
    background-color: var(--accent);
    border: 0;
    padding: .4rem;
    border-radius: .4rem;
    color: var(--background);
    font-size: var(--subtitles-size);
}

/*Collapse*/

.accordion {
    width: 95%;
    padding-left: 5%;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 1rem;
    padding: .6rem;
    border-radius: .6rem;
    background: var(--accent);
    color: #EFEBE7;
}

.tabl {
    font-size: var(--subtitles-size);
    font-family: var(--content-font);
    text-align: start;
    width: 50%;
    font-weight: bold;
    padding-bottom: 15%;
}

.tabr {
    font-size: var(--subtitles-size);
    font-family: var(--content-font);
    text-align: justify;
    width: 50%;
    padding-right: 2%;
    padding-bottom: 15%;
    font-weight: lighter;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: .6rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: .6rem;
    margin-bottom: .3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #EFEBE7;
    padding: 0 .6rem;
    line-height: 1.5rem;
    max-height: 0;
    /* overflow: hidden; */
    overflow: auto;
    scrollbar-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 25rem;
    padding: .6rem .6rem 1.2rem;
}

.accordion input[type="radio"]:checked+label::before {
    content: '-';
}

/* Estilos tablet */

@media (min-width: 744px) {

    .img-p-card {
        display: block;
        height: 15.625rem;
        width: 15.625rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        border-radius: .5rem;
    }

    .card-producto {
        display: flex;
    }

    .button-row {
        text-align: right;
        justify-content: flex-end;
        margin-right: 10%;
    }

    .main-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .col-md-4 {
        background-color: var(--primary);
        display: block;
        border-radius: 1rem;
        width: 100%;
    }

    table {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    thead {
        border-bottom: 1px solid #2E2E2E;
    }

    tr {
        width: 100%;
        padding: 0.5rem;
    }

    tfoot {
        display: flex;
        width: 200%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    h1 {
        font-size: 1.5rem;
        font-family: var(--titles-font-desk);
        font-weight: bold;
    }

    .pie-card {
        display: flex;
        justify-content:space-between;
    }

    .open {
        display: none;
    }

    #btn2- {
        display: none;
    }

    #gallery {
        display: none;
    }


}

/* Estilos desktop */

@media (min-width: 992px) {
    .img-p-card {
        display: block;
        height: 18.625rem;
        width: 18.625rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        border-radius: .5rem;
    }
    table {
        width: 80%;
        margin-left: 6%;
        margin-right: 2%;
    }

    .pie-card {
        display: flex;
        justify-content:space-between;
    }

    .open {
        display: none;
    }

    #btn2- {
        display: none;
    }

    #gallery {
        display: none;
    }

}