@import url('/css/default/root.css');
@import url('/css/default/footer_admin_.css');
@import url('/css/default/navbar.css');

/* .form-submitted-success {
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: green;
    display: none;
    text-align: center;
} */

.form-submitted-success-active {
    display: block;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
  }

.invalid-feedback {
    display: none;
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: red;
}

/* .formulario__input-error-activo */
.invalid-feedback-active {
    display: block;
    width: 410px;
}

.invalid-feeback-active-input {
    border: 1px solid red;
    color: red;
}

.valid-feedback-active {
    border: 1px solid green;
    color: green;
}


body {
    background-color: var(--background);
    font-size: var(--sizeContenido);
    color: var(--text);
    font-family: var(--fontContenido);
    margin: 0px;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: var(--sizeTituloDesk-tab);
    font-weight: var(--font-weightTitulos);
    font-size: var(--sizeTituloDesk-tab);
}

.container{
    background-color: var(--primary);
    margin-top: var(--marginTopBottom);
    margin-bottom: var(--marginTopBottom);
    padding: 0px;
    border-radius: 10px;
}

.formato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}

.containerInput {
    width: 413px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    border-radius: 5px;
}

.containerTextArea {
    width: 413px;
    height: 129px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    border-radius: 5px;
}

input, textarea {
    background-color: var(--background);
    border-radius: 5px;
    width: 410px;
    height: auto;
    outline: none;
    border: none;
}

.layoutIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.btn-style {
    width: 258px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--accent);
}

.container_labels {
    margin-top: 15px;
    font-size: var(--etiquetas);
    width: 413px;
}

.container_btn {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}

.imgInput {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0%;
}

.containerImg {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
}

.objContainerImg {
    position: absolute;
    top: 15px;
    left: 15px;
}

.carousel-control-prev {
    height: 100px;
    display: flex;
    justify-content: center;
    color: black;
}

.container_btns {
    position: absolute;
    left: 10px;
    top: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_btns2 {
    position: absolute;
    top: 175px;
    left: 310px;
}

.container_preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_prevNext {
    border: none;
    background-color:rgba(255, 255, 255, 0);
}

.container_iDelete {
    position: absolute;
    top: 15px;
    left: 310px;
}



.select-btn{
    display: flex;
    height: 39px;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background);
}

.list-items{
    position: absolute;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--background);
    display: none;
    height: auto;
    max-height: 200px;
    width: 413px;
    overflow: auto;
    border-radius: 5px;
}

.list-items::-webkit-scrollbar {
    width: 10px;
}

.list-items::-webkit-scrollbar-thumb {
    background-color: #767957;
    border-radius: 10px;
}

.select-btn.open ~ .list-items{
    display: block;
}
.item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 10px;
}

.list-items .item-text:hover{
    color: var(--secondary);
}

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-right: 12px;
    border: 1.5px solid var(--highlight);
}

.item.checked .checkbox{
    background-color: var(--highlight);
}




.select-menu .select-btndrop{
    display: flex;
    height: 39px;
    background: var(--background);
    padding: 3px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.select-menu .options{
    position: absolute;
    height: auto;
    width: 413px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: var(--background);
    display: none;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 30px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 8px;
    align-items: center;
}
.options .option:hover{
   color: var(--secondary);
}


@media  screen and (max-width: 992px) {
    .formato {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_btn {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }
}


@media screen and (max-width: 774px) {

    .container{
        background-color: #EBBC8A;
        margin: 30px auto;
        width: 350px;
    }

    .formato {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 30px 0px;
    }

    .container_btn {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        align-items: center;
    }

    .tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-family: var(--subtitles-titles-font);
        font-weight: 700;
        font-size: var(--title-size-cel);
    }

    .containerInput {
        width: 258px;
        height: 39px;
        display: flex;
        justify-content: space-between;
        background-color: var(--background);
        border-radius: 5px;
    }
    
    .containerTextArea {
        width: 258px;
        height: 129px;
        display: flex;
        justify-content: space-between;
        background-color: var(--background);
        border-radius: 5px;
    }
    
    input, textarea {
        background-color: var(--background);
        border-radius: 5px;
        width: 258px;
        height: auto;
        outline: none;
        border: none;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-items{
        position: absolute;
        margin-top: 5px;
        padding: 5px;
        background-color: var(--background);
        display: none;
        height: auto;
        max-height: 200px;
        width: 258px;
        overflow: auto;
        border-radius: 5px;
    }

    .select-menu .options{
        position: absolute;
        height: auto;
        width: 258px;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        background: var(--background);
        display: none;
    }

    .invalid-feedback-active {
        display: block;
        width: 250px;
    }
}