@import url('./default/footer.css');
@import url('./default/navbar.css');
@import url('./default/root.css');

/* Estilos container */

.container {
    background-color: var(--primary);
    border-radius: 20px;
    box-shadow: 8px 8px 20px 8px rgba(0, 0, 0, 0.40);
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 55px 43px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.input-text-container {
    position: relative;
}

/* Estilos title container */
.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 69px;
    justify-content: space-between;
    text-align: center;
    color: var(--text);
}

/* Estilos container */
.form-validation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}

/* Estilos input container */
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input,
textarea {
    padding: 10px;
    width: var(--inputsMobile-w);
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
}

label {
    font-size: var(--sizeEtiqueta);
}

input:focus,
textarea:focus {
    border: 3px solid #0075FF;
    outline: none;
}

input {
    height: var(--inputs-h);
}

label {
    margin-bottom: 4px;
}

.message-container {
    width: 100%;
}

/* Estilos textos */
#content {
    font-family: var(--fontContenido);
    font-size: var(--sizeSubtituloDescktop);
}

#title {
    font-family: var(--fontTitulo);
    font-size: var(--sizeTituloMobile);
    font-weight: 700;
}

/* Estilos boton */
.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#btn-submit {
    width: var(--btnMedium-w);
    height: var(--btns-h);
    background-color: var(--accent);
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--background);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

#btn-submit:hover {
    cursor: pointer;
}

/* Estilos error */
/* .formulario__input-error */
.invalid-feedback {
    display: none;
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: red;
}

/* .formulario__input-error-activo */
.invalid-feedback-active {
    display: block;
}

.alerts-container {
    height: 40px;
}

.input-elements-container {
    position: relative;
}

.icon-state {
    position: absolute;
    right: 10px;
    bottom: 12px;
    z-index: 100;
    opacity: 0;
}

/* Estilos exito */
.alert-success-container {
    width: 100%;

}

.form-submitted-success {
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: green;
    display: none;
    text-align: center;
}

.form-submitted-success-active {
    display: block;
}

/* Estilos validacion */
.input-text-container-correct .icon-state {
    color: green;
    opacity: 1;
}

.input-text-container-incorrect .form-label {
    color: red;
}

.input-text-container-incorrect .icon-state {
    color: red;
    opacity: 1;
}

.input-text-container-incorrect .form-control {
    border: 3px solid red;
}

/* Estilo btn-submit disabled */
#btn-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
}

/* Estilos tablet */

@media (min-width: 744px) {

    /* Estilos para pantallas de tamaño 'xl' y superiores */
    .container {
        width: 590px;
        padding: 89px;
    }

    #title {
        font-size: var(--sizeTituloDesk-tab);

    }

    .form-label {
        font-size: var(--sizeEtiqueta);
        font-family: var(--fontEtiqueta);
        color: var(--text);
    }

    .title-container {
        height: 85px;
    }
}

/* Estilos desktop */

@media (min-width: 992px) {

    /* Estilos para pantallas de tamaño 'xxl' y superiores */
    .container {
        width: 630px;
        padding: 109px;
    }

    #title {
        font-size: var(--sizeTituloDesk-tab);
    }

    .form-label {
        font-size: var(--sizeEtiqueta);
        font-family: var(--fontEtiqueta);
        color: var(--text);
    }

    .title-container {
        height: 85px;
    }

}