:root {
    --backgroud: #EFEBE7;
    --primary: #BD9870;
    --secondary: #EEAA44;
    --accent: #767957;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesktop: 40px;
    --sizeTituloTablet: 40px;
    --sizeTituloMobile: 24px;
    --sizeContenido: 16px;
    --sizeEtiqueta: 14px;
    --btnMedium-w: 200px;
    --btnMedium-h: 45px;
}

* {
    /* border: 1px solid black; */
    font-size: var(--sizeContenido);
    font-family: var(--contenido);
    box-sizing: border-box;
    margin: 0;
}


body {
    background: url(../imagenes/contacto.jpg);
}

/* Estilos títulos */

h1,
h2 {
    text-align: center;
    color: var(--text);
    margin: 0;
}


/* Estilos container */

.container {
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 8px 8px 20px 8px rgba(0, 0, 0, 0.40);
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 55px 43px;
    gap: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Estilos title container */
.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 69px;
    justify-content: space-between;
}

/* Estilos container */
.needs-validation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos input container */
.input-container {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

input[type="text"] {
    height: 39px;
    padding: 10px;
}

label {
    margin-bottom: 4px;
}

.message-container {
    width: 100%;
}

/* Estilos textos */
.contenido {
    font-family: var(--contenido);
    font-size: var(--sizeContenido);
}

.titulo {
    font-family: var(--titulo);
    font-size: var(--sizeTituloMobile);
}

/* Estilos boton */
.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    width: var(--btnMedium-w);
    height: var(--btnMedium-h);
    background-color: var(--accent);
    border: none;
    color: var(--backgroud);
}

.invalid-feedback {
    /* display: block; */
}

/* Estilos tablet */

@media (min-width: 744px) {

    /* Estilos para pantallas de tamaño 'xl' y superiores */
    .container {
        width: 590px;
        padding: 89px;
    }

    .needs-validation {
        gap: 32px;
    }
}

/* Estilos desktop */

@media (min-width: 992px) {

    /* Estilos para pantallas de tamaño 'xxl' y superiores */
    .container {
        width: 630px;
        padding: 109px;
    }

    .needs-validation {
        gap: 32px;
    }
}