:root{
    --backgroud: #EFEBE7;
    --primary: #BD9870;
    --secondary: #EEAA44;
    --accent: #767957;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesktop: 3rem;
    --sizeTituloTablet: 3rem;
    --sizeTituloMobile: 1.5rem;
    --sizeSubtituloDes-Tab: 2rem;
    --sizeContenido: 1rem;
    --sizeEtiqueta: 0.9rem;
    --btnMedium-w: 12.5rem;
    --btnMedium-h: 3rem;
}

body{
    background-color: var(--backgroud);
}

.col{
    margin-top: 2rem;

}

.titulo{
    color: var(--backgroud);
    font-size: var(--sizeTituloDesktop);
    font-family: var(--fontTitulo);
    background-color: var(--primary);
}

.card{
    border-radius: 1rem;
    margin: 1rem;
    transition: all;
}

.card-header{
    background-color: var(--primary);
    font-size: var(--sizeContenido);
    font-family: var(--fontSubtitulo);
    color: var(--text);
}
 li:hover{
    background-color: var(--accent);
    color: var(--secondary);
    
 }
 li {
    margin-bottom: 1rem;
    border-radius: 2px var(--primary);
 }

 .modal-content{
    border-radius: 2rem;
    height: 15rem;
    width: 20rem;
    position: relative;
    left: 22%;
    border-color: var(--primary);
 }
.modal-title{
    color: var(--accent);
    font-family: var(--fontTitulo);
    font-size: var(--sizeSubtituloDes-Tab);
    position: relative;
    left: 10%;
}

.modal-body{
    background-color: var(--backgroud);
    border-radius: 7%;
    color: var(--text);
    font-size: var(--sizeContenido);
    font-family: var(--fontContenido);
    text-align: center;
}


 #myInput{
    background-color: var(--accent);
    color: var(--backgroud);
    border: ridge;
    position: relative;
    left: 40%;
    size: 2rem;
 }

