@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@500;600;700&display=swap');

:root {
    --backgroud: #EFEBE7;
    --primary: #BD9870;
    --secondary: #EEAA44;
    --accent: #767957;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesktop: 2.5rem;
    --sizeTituloTablet: 2.5rem;
    --sizeTituloMobile: 1.5rem;
    --sizeSubtituloDes-Tab: 1.875rem;
    --sizeContenido: 1rem;
    --sizeEtiqueta: 0.875rem;
    --sizeTituloCardDes-Tab: 1.25rem;
    --sizeTituloCardMobile: 0.75rem;
    --sizeSubtituloCardMobile: 0.75rem;
    --sizeContenidoCardMobile: 0.625rem;
    --btnMedium-w: 200px;
    --btnMedium-h: 45px;
}
/*Css general */
* {
  /*  border:0.1px solid black;  */
    color: var(--text);
}
/* Carrusel principal */
.img-principal {
    width: 100%;
    height: 400px;
    display: block;
    /* object-fit: cover; */  /* esto es para que la imagen no se deforme, pero que si respete la medida general */
}
/* Titulos de las categorias */
.titulo-cat {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: var(--fontTitulo);
    font-size: var(--sizeTituloMobile);
}

.titulo-cat h1 {
    margin: 0;
}

#carouselMobile {
    margin-left: 20px;
    margin-right: 20px;
}

/* Cards individuales formado de su contenedor */
.card1, .card2, .card3, .card4 {
    width: 100px;
    height: 170px;
    border-radius: 5px;
    border:0.1px solid var(--primary);
    background-color: var(--primary);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 8px;
}

.card-img {
    width: 98px;
    height: 88px;
    padding: 1px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card-title{
    font-family: var(--fontSubtitulo);
    font-size: var(--sizeTituloCardMobile);
    font-weight: bold;
    margin: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 110px;
}

.card-marca, .card-modelo, .card-precio {
    font-family: var(--fontEtiqueta);
    font-size: var(--sizeSubtituloCardMobile);
    margin: 12px;
    margin-bottom: 0;
    margin-top: 0;
    width: 110px;
}
.card-modelo {
    font-size: var(--sizeContenidoCardMobile);   
}

.card-precio {
    margin-left: 0;
    margin-top: 2px;
    
}

.container-agregar {
    display:flex;
    justify-content: space-between;
    margin: 12px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-right: 12px;
    align-items: center;
}

#icon-card {
    color: var(--text);
    font-size: 15px;
    cursor: pointer;
}

#icon-card i:hover {
    opacity: 0.8;
}

.container-envoltura {
    display: flex;
    justify-content: center;
    height: 180px;
}

.carousel-control-prev, .carousel-control-next {
    /*background-color: var(--backgroud); */
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
#btn-movil-prev {
    display: flex;
    justify-content: flex-start;
    top: 48%;
}

#btn-movil-next {
    display: flex;
    justify-content: flex-end;
    top: 48%;
}


/* Estilos tablet */
@media (min-width: 744px) {
   
    #carouselDesktop {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    #carousel-desktop {
        height: 245px;
    }
    .img-principal {
        height: 600px;
    }
    .titulo-cat {
        font-size: var(--sizeTituloDesktop);
        margin-left: 30px;
        margin-right: 30px;
    }
    .card1, .card2, .card3, .card4 {
        width: 150px;
        height: 236px;
        justify-content: center;
        margin: 0 5px;
    }
    .card-img {
        width: 148px;
        height: 119px;
        padding: 2px;
    }
    .card-title{
        font-family: var(--fontSubtitulo);
        font-size: var(--sizeContenido);
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .card-marca, .card-modelo, .card-precio {
        font-size: var(--sizeEtiqueta);
        margin-bottom: 5px;
    }
    .card-modelo{
        font-size: var(--sizeSubtituloCardMobile);
    }
    .card-precio { 
        margin-top: 5px;
    }
    #icon-card {
        font-size: 25px;
    }
}

/* Estilos desktop */

@media (min-width: 992px) {
   
    #carouselDesktop {
        margin-top: 20px;
        margin-left: 80px;
        margin-right: 80px;
    }

    #carousel-desktop {
        height: 305px;
    }

    .img-principal {
        height: 800px;
    }
    .titulo-cat {
        font-size: var(--sizeTituloDesktop);
        margin-left: 80px;
    }
    .card1, .card2, .card3, .card4 {
        width: 191px;
        height: 296px;
    }
    .card-img {
        width: 189px;
        height: 159px;
        padding: 3px;
    }
    .card-title{
        font-family: var(--fontSubtitulo);
        font-size: var(--sizeContenido);
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .card-marca, .card-modelo, .card-precio {
        font-size: var(--sizeContenido);
        margin-bottom: 5px;
    }
    .card-modelo{
        font-size: var(--sizeEtiqueta);
    }
    .card-precio { 
        margin-top: 5px;
    }
    #icon-card {
        font-size: 30px;
    }
    
}
/* Descktop grande*/
@media (min-width: 1440px) {
    
    #carousel-desktop {
        height: 360px;
    }
    .card1, .card2, .card3, .card4 {
        width: 240px;
        height: 335px;
        margin: 0 20px;
    }
    .card-img {
        width: 238px;
        height: 162px;
        padding: 3px;
    }
    .card-title{
        font-family: var(--fontSubtitulo);
        font-size: var(--sizeTituloMobile);
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .card-marca, .card-modelo, .card-precio {
        font-size: var(--sizeTituloMobile);
        margin-bottom: 5px;
    }
    .card-modelo{
        font-size: var(--sizeContenido);
    }
    .card-precio { 
        margin-top: 5px;
    }
}