@import url('./default/footer.css');
@import url('./default/navbar.css');
@import url('./default/root.css');


/* Estilos container */

.containerInicio {
    background-color: var(--primary);
    border-radius: 20px;
    box-shadow: 8px 8px 20px 8px rgba(0, 0, 0, 0.40);
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 63px;
    padding: 56px 44px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.input-text-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos title container */
.title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    color: var(--text);
}

/* Estilos container */
.validacion-inicio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

/* Estilos input container */
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
}

input:focus {
    border: 3px solid #0075FF;
    outline: none;
}

input {
    height: 39px;
}

/* Estilos textos */
#content {
    font-family: var(--fontContenido);
    font-size: var(--sizeContenido);
}

#title {
    font-family: var(--fontTitulo);
    font-size: var(--sizeTituloMobile);
    font-weight: 700;
}

/* Estilos boton */
.btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* #btn-crear-submit {
    width: var(--btnMedium-w);
    height: var(--btns-h);
    background-color: var(--accent);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--background);
    border-radius: 5px;
    box-shadow: 8px 1px 20px 1px rgba(0, 0, 0, 0.40);
} */

#btn-crear-submit:hover {
    cursor: pointer;
}

/* Estilos error */
/* .formulario__input-error */
.invalid-feedbac {
    display: none;
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: red;
}

/* .formulario__input-error-activo */
.invalid-feedbac-active {
    display: block;
}

.alerts-container {
    height: 20px;
}

.input-elements-container {
    width: 100%;
}

.icon-state {
    position: absolute;
    right: 10px;
    bottom: 11px;
    z-index: 100;
    opacity: 0;
}

/* Estilos exito */
.alert-success-container {
    width: 100%;

}

.form-submitted-success {
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: green;
    display: none;
    text-align: center;
}

.form-submitted-success-active {
    display: block;
}

/* Estilos validacion */
.input-text-container-correct .icon-state {
    color: green;
    opacity: 1;
}

/*revisar si si se necesita*/
.input-text-container-incorrect .form-label {
    color: red;
}

.input-text-container-incorrect .icon-state {
    color: red;
    opacity: 1;
}

.input-text-container-incorrect .form-controls {
    border: 3px solid red;
}

/* Estilo btn-submit disabled */
#btn-crear-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
}

.estilo-a {
    /* text-decoration: none; */
    color: var(--text);
}

/* Estilos tablet */

@media (min-width: 744px) {

    /* Estilos para pantallas de tamaño 'xl' y superiores */
    .containerInicio {
        width: 590px;
        padding: 90px 98px;
    }

    .input-text-container {
        width: 413px;
    }

    #title {
        font-size: var(--sizeTituloDesk-tab);

    }

    .title-container {
        height: 89px;
    }
}

/* Estilos desktop */

@media (min-width: 992px) {

    /* Estilos para pantallas de tamaño 'xxl' y superiores */
    .containerInicio {
        width: 630px;
        padding-left: 108px;
        padding-right: 108px;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .input-text-container {
        width: 413px;
    }

    .validacion-inicio {
        gap: 32px;
    }

    #title {
        font-size: var(--sizeTituloDesk-tab);
    }

    .title-container {
        height: 89px;
    }

}



/* Estilos mensaje de error */
.invalid-feedback {
    font-size: var(--sizeEtiqueta);
    font-family: var(--fontEtiqueta);
    color: red;
}