/*<uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 300 to 700*/



.quicksand-Clase1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


body {
    text-align: center !important;
    background-color: #EFEBE7;
    width: 100%;
}


.claseColumna {
    margin-top: 3rem !important;
    
}

.btn-primary {
    width: 15rem;
    height: 3rem;
    background-color: #2E2E2E !important;
    color: #EFEBE7 !important;
    border: none !important;
    margin: 1rem;
    margin-bottom: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

#titulo-principal {
    margin-top: 2rem;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.title1 {
    margin-top: 50px;
    font-size: 36px;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/*img{
    width: 10rem;
    height: 10rem;
    max-width: fit-content;
    border-radius: 6.25rem;
}*/

.row{
   text-align: center;
   justify-content: space-around;
}


.modal-header{
  background-color: #BD9870;
  
}
.modal-body{
  background-color: #BD9870;
}
.modal-fotter{
  background-color:#BD9870 ;
}
.modal-content{
  position: fixed;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.modal-title{
  position:relative;
  left: 10rem;
  font-family:"Quicksand", sans-serif;
}

.body-photo{
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  max-width: 100%;
  border-radius: 100%;
}

.fa-brands{
  font-size: 3rem;
  margin: 1rem;
  color: #767957;
}


.fa-brands:hover{
  color: #EEAA44;
}



/* responsive  tablet*/

@media(min-width:744px){
  body {
      text-align: center !important;
      background-color: #EFEBE7;
      width: 100%;
  }
  
  
  .claseColumna {
      margin-top: 48px !important;
      
  }
  
  .btn-primary {
      width: 258px;
      height: 45px;
      background-color: #2E2E2E !important;
      color: #EFEBE7 !important;
      border: none !important;
      margin: 16px;
      margin-bottom: center;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      visibility: hidden;
      position: absolute; 
  }
  
  #titulo-principal {
      margin-top: 35px;
      font-size: 40px;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }
  
  .title1 {
      margin-top: 50px;
      font-size: 36px;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }
  
  img{
      width: 12.4rem;
      height: 12.4rem;
      max-width: fit-content;
      border-radius: 7.75rem;
  }
  
  .row{
     text-align: center;
     justify-content: space-around;
  }
}

/* RESPONSIVE MOBILE*/

@media(max-width:744px){
  .container-card{
    visibility: hidden;
    position: absolute; 
  }

  body {
    text-align: center !important;
    background-color: #EFEBE7;
    width: 100%;
}

#titulo-principal {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.title1 {
  margin-top: 1rem;
  font-size: 1.3;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

img{
  width: 10rem;
    height: 10rem;
    max-width: none;
    border-radius: 6.25rem;
}

.row{
 text-align: center;
 justify-content: space-around;
}

.modal-title{
  position:relative;
  left: 10rem;
  font-family:"Quicksand", sans-serif;
}

.body-photo{
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  max-width: 100%;
  border-radius: 100%;
}

.fa-brands{
  font-size: 3rem;
  margin: 1rem;
  color: #767957;
}

}
  