/*<uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 300 to 700*/



.quicksand-Clase1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


body {
    text-align: center !important;
    background-color: #EFEBE7;
    width: 100%;
}


.claseColumna {
    margin-top: 48px !important;
    
}

.btn-primary {
    width: 258px;
    height: 45px;
    background-color: #2E2E2E !important;
    color: #EFEBE7 !important;
    border: none !important;
    margin: 16px;
    margin-bottom: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#titulo-principal {
    margin-top: 35px;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.title1 {
    margin-top: 50px;
    font-size: 36px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

img{
    width: 160;
    height: 160;
    max-width: 100%;
    border-radius: 100px;
}

.row{
   text-align: center;
   justify-content: space-around;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

#miembroModal1{
  justify-content: space-around;
  text-align: center; 
}

#fa-brands{
  width: 3rem;
  height: 3rem;
  background-position: center;
}



/* responsive */

@media(min-width:744px){
  body {
      text-align: center !important;
      background-color: #EFEBE7;
      width: 100%;
  }
  
  
  .claseColumna {
      margin-top: 48px !important;
      
  }
  
  .btn-primary {
      width: 258px;
      height: 45px;
      background-color: #2E2E2E !important;
      color: #EFEBE7 !important;
      border: none !important;
      margin: 16px;
      margin-bottom: center;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      visibility: hidden;
      position: absolute;
  }
  
  #titulo-principal {
      margin-top: 35px;
      font-size: 40px;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }
  
  .title1 {
      margin-top: 50px;
      font-size: 36px;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }
  
  img{
      width: 160;
      height: 160;
      max-width: 100%;
      border-radius: 100px;
  }
  
  .row{
     text-align: center;
     justify-content: space-around;
  }
}