@import url("./default/navbar.css");
@import url("./default/footer.css");
@import url("./default/root.css");

:root {
    --max-width-card-desktop: 305px;
    --max-width-card-tablet: 295px;
    --max-width-card-mobile: 165px;
    --min-width-card: 150px;
}

.title-products {
    margin-top: var(--marginTopBottom);
    margin-bottom: 0rem;
    font-family: var(--fontTitulo);
    font-size: var(--sizeTituloDesk-tab);
    font-weight: bold;
}

.productos-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width-card), var(--max-width-card-desktop)));
    grid-template-rows: repeat(auto-fill, minmax(263px, auto));
    justify-content: center;
    margin-top: 2rem;
}

.producto {
    /* height: 450px; */
    padding: 0px;
    border-radius: 10px;
    /* margin-bottom: 30px; */
    font-family: var(--fontSubtitulo);
    color: var(--text);
    box-shadow: var(--shadow);
}

.producto__imgs {
    height: auto;
    width: auto;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.img-card {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.producto__info {
    padding: 24px;
    background-color: var(--primary);
    /* height: 100%; */
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: center; */
    align-items: start;
    width: 100%;
}

.producto__info p {
    margin: 0;
}

.producto__nombre {
    font-size: 24px;
    font-weight: var(--font-weightTitulos);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: start;
}

.frase {
    background-color: var(--highlight);
    text-align: center;
    display: flex;
    align-items: center;
}

.frase p {
    font-size: var(--sizeSubtituloDesk-Tab);
    font-family: var(--fontTitulo);
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

/* precio y más */

.producto__agregar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto__precio {
    font-size: 20px;
}

#icon-card {
    color: var(--text);
    font-size: 1.9rem;
    cursor: pointer;
}

/* Modal producto */

.estilosModal {
    width: 85%;
    border: 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background);
    color: var(--text);
    font-size: var(--sizeContenido);
    font-family: var(--fontContenido);
    transition: 0.5s all ease-in-out;
}

dialog::-webkit-scrollbar {
    display: none;
}

.btnCloseEstilos {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#btnClose {
    border: none;
    background-color: var(--background);
}

.iconito:hover {
    color: var(--highlight);
}

.carrusel {
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.sub-carrusel {
    margin-bottom: auto;
}

td {
    border-top: 1px solid var(--background);
}

.td-top td {
    border-top: 0px;
}

/* DESPLEGABLES ACCORDION  */

.accordion {
    display: none;
    visibility: hidden;
}

/* TARJETAS DESKTOP  */
.tarjetas-desktop {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 5%;
}

.ejemplo-tarjeta {
    background-color: var(--accent);
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1rem;
}

.ejemplo-tarjeta h1,
.ejemplo-tarjeta p,
.ejemplo-tarjeta td,
.accordion h1,
.accordion p,
.accordion td {
    color: var(--background);
}

.accordion__content {
    width: 100%;
    /* Ajusta el ancho del contenedor */
    overflow-x: auto;
    /* Agrega el desplazamiento horizontal */
}

.accordion__content table {
    width: 100%;
}

.head-tarjeta h1 {
    font-family: var(--fontSubtitulo);
    font-size: var(--sizeSubtituloMobile);
    font-weight: bold;
    text-align: center;
    padding-bottom: .8rem;
}

.contenido-tarjeta thead {
    font-weight: bold;
}

.contenido-tarjeta tr {
    border-bottom: 1px solid var(--backgroud);
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    box-shadow: var(--shadow);
    height: 21.875rem;
    width: 21.875rem;
    border-radius: .3rem;
    object-fit: cover;
}

#img img {
    height: 21.875rem;
    width: 21.875rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.info-text {
    width: 21.875rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.875rem;
    padding-right: 2.875rem;
    background-color: var(--primary);
    font-family: var(--fontContenido);
    font-size: var(--sizeContenido);
    box-shadow: var(--shadow);
    border-end-end-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.parrafo {
    font-family: var(--fontContenido);
    font-size: var(--sizeContenido);
    text-align: justify;
}

.nombre {
    font-weight: bolder;
}

.precio {
    text-align: right;
    padding-bottom: 1rem;
}

#add-car {
    width: 16.125rem;
    height: var(--btns-h);
    background-color: var(--accent);
    border: 0;
    border-radius: 5px;
    color: var(--background);
    font-size: var(--sizeContenido);
    font-weight: var(--font-weightTitulos);
}

/* Modal producto */

.estilosModal {
    width: 85%;
    border: 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background);
    color: var(--text);
    font-size: var(--sizeContenido);
    font-family: var(--fontContenido);
    margin: auto;
    box-shadow: var(--shadow);
}

dialog::-webkit-scrollbar {
    display: none;
}

.btnCloseEstilos {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#btnClose {
    border: none;
    background-color: var(--background);
}

.iconito:hover {
    color: var(--highlight);
}

.carrusel {
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.sub-carrusel {
    margin-bottom: auto;
}

td {
    border-top: 1px solid var(--background);
}

.td-top td {
    border-top: 0px;
}

/* DESPLEGABLES ACCORDION  */

.accordion {
    display: none;
    visibility: hidden;
}

/* TARJETAS DESKTOP  */
.tarjetas-desktop {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 5%;
}

.ejemplo-tarjeta {
    background-color: var(--accent);
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1rem;
    color: var(--background);

}

.head-tarjeta h1 {
    font-family: var(--fontSubtitulo);
    font-size: var(--sizeSubtituloMobile);
    font-weight: bold;
    text-align: center;
    padding-bottom: .8rem;
}

.contenido-tarjeta thead {
    font-weight: bold;
}

.contenido-tarjeta tr {
    border-bottom: 1px solid var(--backgroud);
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    box-shadow: var(--shadow);
    height: 21.875rem;
    width: 21.875rem;
    border-radius: .3rem;
    object-fit: cover;
}

#img img {
    height: 21.875rem;
    width: 21.875rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.info-text {
    width: 21.875rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.875rem;
    padding-right: 2.875rem;
    background-color: var(--primary);
    font-family: var(--fontContenido);
    font-size: var(--sizeContenido);
    box-shadow: var(--shadow);
    border-end-end-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.parrafo {
    font-family: var(--fontContenido);
    font-size: var(--sizeContenido);
    text-align: justify;
}

.nombre {
    font-weight: bolder;
}

.precio {
    text-align: right;
    padding-bottom: 1rem;
}

.add-car {
    width: 16.125rem;
    height: var(--btns-h);
    background-color: var(--accent);
    border: 0;
    border-radius: 5px;
    color: var(--background);
    font-size: var(--sizeContenido);
    font-weight: var(--font-weightTitulos);
}


/* TABLETA */

@media (max-width: 768px) {
    .productos-container {
        grid-template-columns: repeat(auto-fill, minmax(var(--min-width-card), var(--max-width-card-tablet)));
        gap: 1.5rem;
    }

    .producto__info {
        gap: 1rem;
    }

    .producto__nombre {
        font-size: 24px;
        font-weight: var(--font-weightTitulos);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .producto__marca,
    .producto__precio {
        font-size: 1rem;
    }

    /* #icon-card {
        font-size: 1rem;
        padding: 0;
    } */

    .producto__agregar {
        align-items: center;
    }

    /* DESPLEGABLES ACCORDION*/
    .accordion {
        display: block;
        visibility: visible;
        background-color: var(--accent);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.5rem;
        box-shadow: var(--shadow);
        border-radius: .4rem;
        overflow: hidden;
        color: var(--background);
        font-size: var(--sizeContenido);
        font-weight: normal;
    }

    .accordion__label,
    .accordion__content {
        padding: .6rem 1.25rem;
    }

    .accordion__label {
        display: block;
        color: var(--background);
        font-weight: 500;
        cursor: pointer;
        position: relative;
        transition: background 0.1s;
    }

    /* .accordion__label:hover {
        background: var(--accent);
    } */

    .accordion__label::after {
        content: "▾";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.2rem;
        transition: transform 0.4s;
    }

    .accordion__content {
        background: var(--accent);
        line-height: 1.6;
        font-size: .85em;
        display: none;
    }

    .accordion__content p {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    #accordionDesc {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    #accordionIndica {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    .accordion__content thead {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: 700;
        text-align: justify;
    }

    .accordion__content tbody {
        width: 90%;
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: left;
    }

    #accordionIngred {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: left;
    }

    .accordion__input {
        display: none;
    }

    .accordion__input:checked~.accordion__content {
        display: block;
    }

    .accordion__input:checked~.accordion__label::after {
        transform: translate(-50%) rotate(0.5turn);
    }

    .tarjetas-desktop {
        display: none;
    }

}


/* MOBILE DOBLE CARD*/

@media only screen and (min-width:320px) and (max-width:530px) {
    .title-products {
        margin-top: var(--marginTopBottom);
        margin-bottom: 0rem;
        font-family: var(--fontTitulo);
        font-size: var(--sizeSubtituloMobile);
        font-weight: bold;
    }

    .productos-container {
        grid-template-columns: repeat(auto-fill, minmax(var(--min-width-card), var(--max-width-card-mobile)));
        gap: 1rem;
    }

    .producto__info {
        gap: 1px;
        padding: 1rem;
    }

    .producto__nombre {
        font-size: 1rem;
        font-weight: var(--font-weightTitulos);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .producto__marca,
    .producto__precio {
        font-size: 12px;
    }

    #icon-card {
        font-size: 1rem;
        padding: 0;
    }

    .producto__agregar {
        align-items: center;
    }

    .frase p {
        font-size: var(--sizeSubtituloMobile);
        font-family: var(--fontTitulo);
        font-weight: bold;
    }

    /* DESPLEGABLES ACCORDION*/
    .accordion {
        display: block;
        visibility: visible;
        background-color: var(--accent);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.5rem;
        box-shadow: var(--shadow);
        border-radius: .4rem;
        overflow: hidden;
        color: var(--background);
        font-size: var(--sizeContenido);
        font-weight: normal;
    }

    .accordion__label,
    .accordion__content {
        padding: .6rem 1.25rem;
    }

    .accordion__label {
        display: block;
        color: var(--background);
        font-weight: 500;
        cursor: pointer;
        position: relative;
        transition: background 0.1s;
    }

    .accordion__label::after {
        content: "▾";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.2rem;
        transition: transform 0.4s;
    }

    .accordion__content {
        background: var(--accent);
        line-height: 1.6;
        font-size: .85em;
        display: none;
    }

    .accordion__content p {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    #accordionDesc {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    #accordionIndica {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    .accordion__content thead {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: justify;
    }

    .accordion__content tbody {
        width: 90%;
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: left;
    }

    #accordionIngred {
        font-family: var(--fontContenido);
        font-size: var(--sizeContenido);
        font-weight: normal;
        text-align: left;
    }

    .accordion__input {
        display: none;
    }

    .accordion__input:checked~.accordion__content {
        display: block;
    }

    .accordion__input:checked~.accordion__label::after {
        transform: translate(-50%) rotate(0.5turn);
    }

    .tarjetas-desktop {
        display: none;
    }

}