@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@500;600;700&display=swap');

:root {
    --backgroud: #EFEBE7;
    --primary: #CFAD7C;
    --secondary: #C38D56;
    --accent: #7E703D;
    --highlight: #FDA73D;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --font-weightTitulos: 700;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesk-tab: 3rem;
    --sizeSubtituloDesk-Tab: 1.9rem;
    --sizeTituloMobile: 1.5rem;
    --sizeSubtituloMobile: 1.3rem;
    --sizeContenido: 1rem;
    --sizeEtiqueta: 0.9rem;
    --sizeErrorAlerts: 0.8rem;
    --btnColapsable-w: 258px;
    --btnLarge-w: 258px;
    --btnMedium-w: 200px;
    --btnSmall-w: 150px;
    --btns-h: 45px;
    --inputsDeskTab-w: 413px;
    --inputsMobile-w: 258px;
    --inputs-h: 39px;
    --textareaDeskTab-h: 129px;
    --textareaMobile-h: 194px;
    --marginTopBottom: 3rem;
    --shadow: 2px 4px 2.5px 0px rgba(0,0,0,0.12);
}


/* *{
    border:solid 1px;
} */


.products{
    margin-top: 7rem;
    height: auto;
    border-width: 2px;
    padding: 0px 0px;
   
}

.products:hover{
    cursor: pointer;
}

#contenedor-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;   
}
.contenedor-img {
   
    height: auto;
    max-height: auto;
    object-fit: cover;
    box-sizing: border-box;
    
}

.img-card{
    width:303.5px;
    height: 293px;
    border-width: 50px;
    border-radius: 8px 8px 0px 0px;
}

.info-produc{
    padding:15px;
    background-color: var(--primary);
    height: 117px;
    border-radius: 0px 0px 8px 8px;

}

.products li {
    display:inline-block;
    height: 410px;
    text-align: start;
    width: 303.5px;
    margin: 30px;
    vertical-align: top;
    padding: 0px;
    box-shadow: 6px 6px 6px 0px #00000031;
    border: 1px solid 
    #D9D0E3;
    border-radius: 8px;
    font-family: var(--fontSubtitulo);
}

/* precio y más */
.container-agregar {
    display:flex;
    justify-content: space-between; 
}


.products h1{
    font-size: var(--fontSubtitulo);
    text-transform: uppercase;
    margin:0;
}


p.products-name{
    margin:0;
}

p.products-mlgr{
    margin-bottom: 3px;
    color: #D9D0E3;
}

.products-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
    padding: 15px;
   
}
#icon-card {
    color: var(--text);
    font-size: 1.9rem;
    cursor: pointer;
}
