@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@500;600;700&display=swap');

:root {
    --backgroud: #EFEBE7;
    --primary: #BD9870;
    --secondary: #EEAA44;
    --accent: #767957;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesktop: 2.5rem;
    --sizeTituloTablet: 2.5rem;
    --sizeTituloMobile: 1.5rem;
    --sizeSubtituloDes-Tab: 1.875rem;
    --sizeContenido: 1rem;
    --sizeEtiqueta: 0.875rem;
    --sizeTituloCardDes-Tab: 1.25rem;
    --sizeTituloCardMobile: 0.75rem;
    --sizeSubtituloCardMobile: 0.75rem;
    --sizeContenidoCardMobile: 0.625rem;
    --btnMedium-w: 200px;
    --btnMedium-h: 45px;
}
/*Css general */
* {
    /* border: 1px solid black; */
    font-size: var(--sizeContenido);
    font-family: var(--fontContenido);
    color: var(--text);
    box-sizing: border-box;
    margin: 0;
}


body {
    background: url(../imagenes/contacto.jpg);
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}