:root {
    --main-bg-color: #2A4849;
    --secondary: #222E50;
    --highlight: #87BBA2;
    --light: #F0F7EE;
    --widthfull: 100vw;
}

.container {
    background-color: #767957;
    padding: 3rem;
    /* display: flex;  */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

h1,
h2 {
    text-align: center;
}