@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --background: #EFEBE7;
    --primary: #CFAD7C;
    --secondary: #C38D56;
    --accent: #7E703D;
    --highlight: #FDA73D;
    --text: #2E2E2E;
    --widthfull: 100vw;
    --font-weightTitulos: 700;
    --fontTitulo: 'Quicksand', sans-serif;
    --fontSubtitulo: 'Quicksand', sans-serif;
    --fontContenido: 'Lato', sans-serif;
    --fontEtiqueta: 'Lato', sans-serif;
    --sizeTituloDesk-tab: 3rem;
    --sizeSubtituloDesk-Tab: 1.9rem;
    --sizeTituloMobile: 1.5rem;
    --sizeSubtituloMobile: 1.3rem;
    --sizeContenido: 1rem;
    --sizeEtiqueta: 0.9rem;
    --sizeErrorAlerts: 0.8rem;
    --btnColapsable-w: 258px;
    --btnLarge-w: 258px;
    --btnMedium-w: 200px;
    --btnSmall-w: 150px;
    --btns-h: 45px;
    --inputsDeskTab-w: 413px;
    --inputsMobile-w: 258px;
    --inputs-h: 39px;
    --textareaDeskTab-h: 129px;
    --textareaMobile-h: 194px;
    --marginTopBottom: 3rem;
    --shadow: 4px 4px 10.5px 0px rgba(0, 0, 0, 0.25);
    --shadow_lineal: 0px 4px 10.5px 0px rgba(0, 0, 0, 0.25);
    --url-background: url(https://github.com/Aridai-Perez/Images_Alo-Bomnito/blob/main/ImagenesElementos/fondo.png?raw=true);
}

* {
    /* border: 0.1px solid black; */
    font-size: var(--sizeContenido);
    font-family: var(--fontContenido);
    color: var(--text);
    box-sizing: border-box;
    /* margin: 0; */
}

.body-con-fondo {
    background: var(--url-background);
    background-size: cover;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-alo,
.btn-alo-submit,
.btn-alo-a {
    width: var(--btnMedium-w);
    height: var(--btns-h);
    background-color: var(--accent);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--background);
    border-radius: 5px;
    box-shadow: 8px 1px 20px 1px rgba(0, 0, 0, 0.40);
}

.btn-alo-a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}

.btn-alo:hover,
.btn-alo-a:hover {
    cursor: pointer;
}

.btn-alo-submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
}

.estilo-a {
    color: var(--text);
}